/* Upper.css */

.home-container {
  display: flex;
  flex-direction: column;
  background-color: #e1f1f1;
  min-height: 100vh;
}

.home-content {
  display: flex;
  width: 100%;
  height: 85vh;
  justify-content: space-between;
  align-items: center;
  background-color: #e1f1f1;
  padding: 2rem;
}

.left-section,
.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1f1f1;
}

.right-section {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--divider-left);
  width: 2px;
  background-color: transparent;
}
